parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
        - src/Laravel/MoneyServiceProvider.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#(Class Illuminate\\|Interface Illuminate\\)#'
            path: src/Laravel/MoneyCast.php
